{% extends 'login_base.html' %}

{% block content %}
    <div class="form-container">
        <div>
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        </div>
        <form class="login-form" method="POST">
            {% csrf_token %}
            <table class="login-table">
                {{ login_form.as_table }}
            </table>
            <div class="login-btn">
                <button class="btn" type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock content %}
