{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class ="form-container">
        <div class = "formcol">
            <h1>Add new Customer</h1>
            <form class="displayform" action="/add_company/" method="POST" >
                {% csrf_token %}
                {% bootstrap_form form%}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Add Customer</button>
                {% endbuttons %}    
            </form>
        </div>
        <div class = "formcol">
            {% if companies%}
                <h1> List of Companies</h1>
                {% for each in companies %}
                    <h3>{{ each.company_name }}</h3><br>   
                {% endfor %}
            {% else %}
                <h3>No companies have been created! </h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}