{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">


{% block content %}
    <div class="form-container">
        <div class="fullpage-form">
            <div class="formcol-form">
                <h2>Modify Company Information</h2>
                <form class="displayform" action="{% url 'add_company' company.id}" method="POST" >
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button class="btn btn-primary"type="submit">Save</button>
                    {% endbuttons %}    
                </form>
                <a href="{% url 'inactivate_company' company.id %}">Delete Company</a>
            </div>
        </div>
    </div>
{% endblock content %}