{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">

{% block content %}
        <div class ="project-container">
            <h1>Modify User</h1>
            <form class="projectform" action="{% url 'modify_user' user_id=user.id company_id=company.id%}" method="POST" >
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Save User</button>
                {% endbuttons %}
            </form>
            
        </div>
{% endblock content %}