body{
    font-family:Arial, Helvetica, sans-serif;
}
.body-container{
    margin-left:5%;
    margin-right:5%;
}
#main-header{
    text-align: center;
}
.header-container{
    align-items: center;
    justify-content: center;
    display: flex;
}
img{
    margin: auto;
    display: block;
    width: 150px;
    height: 90px;
}
#navbar-container{
    margin:0;
    padding-bottom:80px;
}
.navbar-item{
    position:relative;
    float: left;
    text-align:center;
    width:25%;
    height:50px;
    line-height: 50px;
}
.navbar-item a{
    text-decoration: none;
    color:#D1512D;
    width:100%;
    height:50px;
    display: block;
}
.navbar-item ul{
    margin: 0px;
    padding:0;
    list-style: none;
    position:absolute;
    left:0;
    top:100%;
    width: 100%;
    text-align:center;
    height:0;
    overflow:hidden;
}
.navbar-item ul li a{
    margin:0;
    width:100%;
}
.navbar-item a:hover{
    background-color:#F5C7A9;
    height:100%;
}
.navbar-item:hover ul {
    display: block;
    height:auto;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

h1, h3{
    color:#411530;
}
.form-container{
    width:100%;
    margin:0;
    text-align: center;
}
.formcol{
    width:50%;
    float: left;
}
.displayform{
    width:100%;
    height:auto;
}

.displayform label, .projectform label{
    color:#411530;
}
.displayform-submit{
    text-align: center;
}
.project-container{
    margin:0 auto;
}
.login-base-container{
    width: 88%;
    display: flex;
    text-align: left;
    margin-left: 6%;
    margin-right: 6%;
}
.login-form{
    height: auto;
    width:50%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}
.login-table{
    margin:auto;
    padding-bottom:10px;
    width:47%;
}
.login-btn{
    text-align: right;
}
.logout-container{
    margin-right:25%;
    margin-left:25%;
    text-align:center;
}
.fullpage-form{
    margin-right:25%;
    margin-left:25%;
}
.formcol-form{
    width: 100%;
    height: auto;
    text-align: left;
}
.formcol-content{
    width: 100%;
    height: auto;
    text-align: left;
    margin: auto;
}
table{
    width: 100%;
}
#fullpage-table{
    width:50%;
}
table.project-list{
    text-align: center;
}