{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">
{% block content%}
    <div class ="form-container">
        <div class = "formcol">
            <h1>Add new Test Methods for Analysis</h1>
            <form class="displayform" action="{% url 'add_test'%}" method="POST" >
                {% csrf_token %}
                <table>
                    {{ test.as_table }}
                </table>
                <input class="displayform-submit" type="submit" value="Add Test Method">
            </form>
        </div>
    </div>
{% endblock content %}
