{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">


{% block content %}
    <div class ="form-container">
        <div class = "formcol">
            <h1>Add new Customer</h1>
            <form class="displayform" action="/add_company/" method="POST" >
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input class="displayform-submit"type="submit" value="Add Customer">    
            </form>
        </div>
        <div class = "formcol">
            {% if companies%}
                <h1> List of Companies</h1>
                {% for each in companies %}
                    <h3>{{ each.company_name }}</h3><br>   
                {% endfor %}
            {% else %}
                <h3>No companies have been created! </h3>
            {% endif %}
        </div>
    </div>
{% endblock content %}