{% extends "base.html" %}
{% load bootstrap5 %}

{% block content%}
    <div class ="form-container">
        <div class = "formcol">
            <h1>Add new Test Methods for Analysis</h1>
            <form class="displayform" action="{% url 'add_test'%}" method="POST" >
                {% csrf_token %}
                {% bootstrap_form test %}
                {% buttons %}
                    <button class="btn-primary" type="submit">Add Test Method</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock content %}
