{% extends "base.html" %}

{% block content %}
        <div class ="form-container">
            <div class = "formcol">
                <h1>Current Users in Company</h1>
            </div>
            <div class = "formcol">
                <h1>Add new User</h1>
                    <form class="displayform" action="/add_user/" method="POST" >
                        {% csrf_token %}
                        <table>
                        {{ form.as_table }}
                        </table>
                        <input type="submit" value="Add New User">
                    </form>
            </div>
        </div>
{% endblock content %}
