{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">

{% block content%}
    <div class="project-list">
        {% if project %}
        <h3>All Currently Active Projects</h3>
            {% for projects in project %}
            <table>
                <tr>
                    <th>Project Name</th>
                    <th>Project PO</th>
                    <th>Submitted date</th>
                    <th>Sample Count</th>
                    <th>Company</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td><a href="{% url 'view_project' projects.id %}">{{projects.project_name}}</a></td>
                    <td>{{projects.project_po}}</td>
                    <td>{{projects.date_submitted}}</td>
                    <td>{{projects.get_samplecount}}</td>
                    
                    <td>{{projects.company}}</td>
                    <td>{{projects.get_status}}</td>
                    {% if projects.project_status == 1 %}
                        <td><a href="{% url 'delete_project' projects.id %}">Delete Project</a></td>
                    {% else %}
                        <td><a href="{% url 'cancel_project' projects.id %}">Cancel Project</a></td>
                    {% endif %}
                </tr>
            </table>
            {% endfor %}
        {% else %}
            <h3>There are currently no active projects. Please create a project to continue.</h3>
        {% endif %}
    </div>
{% endblock content%}