<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>µLIMS</title>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'index/style.css' %}">
    </head>
    <body>
        <div class="body-container">
            <header id="main-header">
                <div class="header-container">
                    <a href="/"><img src="{% static '/images/logo.png' %}" id=logo alt="Logo Image"></a>
                </div>
            </header>
            <div id="navbar-container">
                {% if user %}
                <div class="navbar-item">
                    <a href="{% url 'viewcompany' %}">Company</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'add_user' %}">Add new User</a></li>
                        </ul>
                </div>
                <div class="navbar-item">        
                    <a href="{% url 'add_test' %}">Test Methods</a>   
                </div>
                <div class="navbar-item"> 
                    <a href="{% url 'all_activeprojects' %}">Projects</a>
                        <ul class="dropdown">
                            <li><a href="{% url 'add_project'%}">Add new Project</a></li>
                        </ul>
                </div>
                <div class="navbar-item"> 
                    <a href="{%url 'logout' %}">Sign Out</a>
                </div>
                {% endif %}
            </div>
            <div class ="container">
                {% block content %}
                {% endblock content%}
            </div>
        </div>
    </body>
</html>
