<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class ="container-fluid">
            <div class ="row">
                <div class = "col center">
                    <h1>Micro Lims</h1>
                </div>
            </div>
                <div class ="row">
                <div class = "col p-3">
                    <ul>
                    <br>
                    <li><a href="/viewcompany/">view Companies</a></li>
                    <li><a href="/add_company">Add new customers</a></li>
                    <li><a href="/add_test">Add new test method</a></li>
                    </ul>
                </div>
                <div class = "col"></div>
                <div class = "col"></div>
            </div>
        </div>
    </body>
</html>
