<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>µLIMS</title>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'index/style.css' %}">
    </head>
    <body>
        <div class="body-container">
            <header id="main-header">
                <div class="header-container">
                    <a href="/"><img src="../static/css/images/logo.png" id=logo alt="Logo Image"></a>
                </div>
            </header>
            <div id="navbar-container">
                <div class="navbar-item"> 
                </div>
            </div>
            <div class="login-base-container">
                {% block content %}
                {% endblock content%}
            </div>
        </div>
    </body>
</html>
