{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">

{% block content %}
        <div class ="project-container">
            <h1>Modify Project</h1>
            <form class="projectform" action="{% url 'modify_project' project.id %}" method="POST" >
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Save Project">
            </form>
            
        </div>
{% endblock content %}
