{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">

{% block content %}
        <div class ="project-container">
            <h1>Modify User</h1>
            <form class="projectform" action="{% url 'modify_user' user_id=user.id company_id=company.id%}" method="POST" >
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Save User">
            </form>
            
        </div>
{% endblock content %}