{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">

{% block content %}
            <div class ="row">
                <div class = "col p-3">
                    <h1>Total tests available</h1>
                </div>
                <div class = "col"></div>
                <div class = "col">
                    {% if tests %}
                    {% for test in tests %}
                    <br>{{test.test_name}}
                    {% endfor %}
                    {% else %}
                    <h3>No Tests were created! </h3>
                    {% endif %}
                </div>
            </div>
{% endblock content %}