{% extends "index.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">


{% block content%}
            <div class ="company-container">
                <div class = "companycol">
                    <h1>Company List</h1><br>
                    {% for x in companydetails %}
                        {{ x.company_name }}  <br>
                    {% endfor %}
                </div>
                <div class = "companycol">
                        {% for name in companydetails %}
                        {% for x, y in name.get_fields %}
                            {{ x }}: {{y}} <br>
                        {% endfor%}    
                    {% endfor %}
                </div>
            </div>
{% endblock content%}

