{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">

{% block content%}
    <div class="project-list">
        {% if project %}
        {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
        <div>
          <a href="{% url 'modify_project' project.id %}">{{project.project_name}}</a> <p>PO:{{project.project_po}}</p>
        </div>
        {% if samples %}
          {% for sample in samples %}
            <div>
              <a href="{% url 'modify_sample' sample_id=sample.id project_id=project.id %}">{{sample.sample_name}}</a>  
              {% if sample.sample_status == 1 %} 
              <a href="{% url 'delete_sample' sample_id=sample.id project_id=project.id %}">Delete {{sample.sample_name}}</a>
              {% endif %}
              <table>
                <tr>
                  <th>Test Assigned</th>
                  <th>Test Method</th>
                  <th>Testing Status</th>
                  <th></th>
                  <th></th>
                </tr>
                    {% for analysis in sample.analysis.all %}
                      {% if tests %}
                        {%for test in tests%}
                          {% if test.testing == analysis%}
                            {% if test.sample == sample %}
                            <tr>
                                <td>{{analysis.test_name}}</td>
                                <td>{{analysis.testMethod}}</td>
                                <td>{{test.get_status}}</td>
                                {% if test.test_status == 1 %}
                                <td><a href="{% url 'initiate_testing' project_id=project.id sampletesting_id=test.id %}">Initiate {{analysis.test_name}} testing for {{sample.sample_name}}</a></td>
                                {% endif %}
                                {% if test.test_status == 2 %}
                                <td><a href="{% url 'complete_testing' project_id=project.id sampletesting_id=test.id %}">Complete {{analysis.test_name}} testing for {{sample.sample_name}}</a></td>
                                {% endif %}
                                {% if test.test_status == 1 %}
                                  <td><a href="{% url 'delete_test' project_id=project.id testing_id=test.id%}">Remove {{analysis.test_name}} testing</a></td>
                                {% else %}
                                <td><a href="{% url 'cancel_test' project_id=project.id testing_id=test.id%}">Cancel {{analysis.test_name}} testing</a></td>
                                {% endif %}
                            </tr>
                            {% endif %}
                          {% endif %}
                        {% endfor %}  
                      {% endif %}
                      
                    {% endfor %} 
              </table>   
            </div>    
          {% endfor %}
        {% else %}
          <p>This project has no current samples</p>
        {% endif %}
      <br><br><a href="{% url 'add_sample' project.id %}">Add Sample</a>
        {% else %}
            <h3>No project found!</h3>
        {% endif %}

    </div>
{% endblock content%}